<!DOCTYPE HTML>
<html>
   <head>
      <link rel="stylesheet" type="text/css" href="style.css">
   </head>
   <body>
      <h1 id="title">SuperChat</h1>
      <form id="UserForm">
         <input type="text" name="username">
         <input type="submit" value="Change Username">
      </form>
      <div id="screen">
      </div>
      <form>

         <input type="text" name="message">
         <input type="submit" Value="Send">
      </form>
   </body>
</html>
